
@font-face {
  font-family: "minion-pro";
  src: url("/font/MinionPro-Regular.woff") format("woff"),
    url("MinionPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: "soligant";
  src: url("/font/Soligant.woff") format("woff"),
    url("Soligant.woff") format("woff");
  font-weight: 400;
  font-style: normal;
	font-display: swap;
}

