@import './fonts.css' layer(base); /* for custom fonts */

@import 'tailwindcss';

@theme {
	--font-*: initial;
	--font-heading: minion-pro, sans-serif;
	--font-body: proxima-nova, sans-serif;

	--color-brand-primary: #1c1c2f;
	--color-brand-gray: #efeff0;
	--color-brand-yellow:#ecaf3e;
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
}

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@utility btn {
	@apply transition-colors duration-300 ease-linear;
}

@utility btn-primary {
	@apply font-bold text-white hover:text-brand-yellow hover:border-brand-yellow rounded-full border-2 px-2 text-sm border-white;
}

@utility btn-secondary {
	@apply font-normal hover:font-bold text-brand-primary text-sm;
}

@utility btn-tertiary {
	@apply text-brand-primary hover:text-brand-yellow hover:border-brand-yellow rounded-full border px-2 py-[2px] text-sm border-brand-primary inline-block;
}

@utility scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

@layer base {
	html {
		@apply font-body antialiased;
	}

	[x-cloak] {
		@apply hidden!;
	}
}
