<div class="relative">
	<img src="/img/bg-cta.jpg" class="object-cover w-full h-full inset-0 absolute object-[50%_40%]" alt="">
	<div class="absolute inset-0 z-20 w-full h-full bg-linear-to-r from-brand-primary/60 md:from-brand-primary/80 lg:from-brand-primary from-100% md:from-50% lg:from-10%"></div>
	<div class="max-w-7xl container lg:px-16 relative z-30 pt-9 pb-14">
		<form class="sm:3/4 md:w-3/5 lg:w-1/2 xl:w-2/5 mx-auto relative">
			<h2 class="text-white text-center font-bold text-2xl pb-2">Blijf je graag op de hoogte?</h2>
			<p class="text-sm text-white text-center pb-2.5">Ontvang updates over speciale acties en events!</p>
			<input type="text" class="border border-white bg-transparent rounded-full w-full py-1 pl-3 pr-12 text-white placeholder-white" placeholder="E-mail">
			<button class="text-white absolute right-0 bottom-0 border border-white py-1 px-5 rounded-full">Inschrijven</button>
		</form>
	</div>
</div>