<div class="container pt-6 lg:pt-9 pb-6 max-w-7xl xl:px-16">
	<div class="flex justify-between gap-10 items-center lg:items-end">
		<a href="/" class="shrink-0 flex justify-center lg:justify-start">
			<img src="/img/logo.png" class="h-12 md:h-14 xl:h-16 w-auto" alt="">
		</a>
		<div class="hidden lg:flex justify-end flex-1">
			<div>
				<div class="flex gap-6 xl:gap-8 items-center">
					<ul class="uppercase text-brand-primary lg:text-lg flex gap-8 items-center">
						<li>
							<a href="/" class="btn hover:text-brand-yellow">HOME</a>
						</li>
						<li>
							<a href="/about" class="btn hover:text-brand-yellow">OVER ONS</a>
						</li>
						<li>
							<a href="/contact" class="btn hover:text-brand-yellow">Contact</a>
						</li>
						<li>
							<a href="/#vacancies" class="btn hover:text-brand-yellow">VACATURES</a>
						</li>
						<li>
							<a href="/#references" class="btn hover:text-brand-yellow">REFERENTIES</a>
						</li>
					</ul>
					<form class="relative">
						<input type="text" class="border rounded-full border-black pl-3 pr-7 py-1 w-full" placeholder="ZOEKEN">
						<button class="absolute right-3 top-1/2 -translate-y-1/2 z-10">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-black">
								<path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
							</svg>
						</button>
					</form>
				</div>
				<ul class="uppercase text-brand-primary text-sm flex gap-6 items-center pt-2">
					<li>
						<a href="/materials" class="btn hover:text-brand-yellow">BOUWMATERIALEN</a>
					</li>
					<li>
						<a href="/materials" class="btn hover:text-brand-yellow">AANNEMINGEN VLOEREN</a>
					</li>
					<li>
						<a href="/materials" class="btn hover:text-brand-yellow">AANNEMINGEN DROOGBOUW</a>
					</li>
					<li>
						<a href="/materials" class="btn hover:text-brand-yellow">LEVEREN EN PLAATSEN</a>
					</li>
					<li>
						<a href="/materials" class="btn hover:text-brand-yellow">HAARDEN</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="block lg:hidden">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-black">
				<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
			</svg>
		</div>
	</div>
</div>
